:root {
  --inputColor: #25273C;
  --inputColorLight: #fff;
}

@font-face {
  font-family: "Josefin+Sans";
  src: url("https://fonts.google.com/specimen/Josefin+Sans");
}
body {
  width: 100vw;
  height: 100vh;
  font-size: 10px;
  font-family: JosefinSans;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.main::before {
  content: "";
  display: block;
  background-image: url(../../assets/images/bg-desktop-dark.jpg);
  width: 100%;
  height: 25rem;
  background-size: 100% 25rem;
}
.main--light {
  background-color: #f8f8f8;
}
.main--light::before {
  z-index: 10;
  content: "";
  display: block;
  background-image: url(../../assets/images/bg-desktop-light.jpg);
  width: 100%;
  height: 25rem;
  background-size: 100% 25rem;
}
.main--tablet {
  background-color: #000;
}
.main--tablet::before {
  z-index: 10;
  content: "";
  display: block;
  background-image: url(../../assets/images/bg-mobile-dark.jpg);
  width: 100%;
  height: 25rem;
  background-size: 100% 25rem;
}
.main--tablet--light {
  background-color: #f8f8f8;
}
.main--tablet--light::before {
  z-index: 10;
  content: "";
  display: block;
  background-image: url(../../assets/images/bg-mobile-light.jpg);
  width: 100%;
  height: 25rem;
  background-size: 100% 25rem;
}

.todo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 9rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 35rem;
}
.todo__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8rem;
}
.todo__header_title {
  font-size: 3.2rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1rem;
}
.todo__header_btn {
  cursor: pointer;
  user-select: none;
  border: 0;
  background-color: transparent;
  background-image: url(../../assets/images/icon-sun.svg);
  background-size: 2rem 2rem;
  width: 2rem;
  height: 2rem;
}
.todo__header_btn--light {
  background-image: url(../../assets/images/icon-moon.svg);
}
.todo__add {
  display: flex;
  background-color: var(--inputColor);
  border-radius: 0.5rem;
  -webkit-box-shadow: 11px 9px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 11px 9px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 5px 6px 8px 0px rgba(34, 60, 80, 0.5);
}
.todo__add--light {
  background-color: var(--inputColorLight);
}
.todo__mark--add {
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6rem;
  height: 1.3rem;
  background-color: var(--inputColor);
  border: 1px solid #666666;
  border-radius: 50%;
  margin: auto 1.2rem;
}
.todo__mark--add--light {
  background-color: var(--inputColorLight);
}
.todo__add_text {
  background-color: var(--inputColor);
  width: 100%;
  padding: 1.3rem;
  padding-left: 0;
  border: 0;
  font-family: JosefinSans;
  font-size: 1.05rem;
  color: #cccccc;
  border-radius: 0.5rem;
  font-weight: 400;
}
.todo__add_text:focus {
  outline: none;
}
.todo__add_text--light {
  color: #000;
  background-color: var(--inputColorLight);
}
.todo__smth {
  display: flex;
  background-color: var(--inputColor);
  border-bottom: 1px solid #666666;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  color: #fff;
  font-size: 1rem;
  color: #666666;
}
.todo__smth--light {
  background-color: var(--inputColorLight);
}
.todo__cross {
  z-index: 100;
  display: block;
  background: transparent;
  border: 0;
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  background-size: 1.2rem 1.2rem;
  background-repeat: no-repeat;
  background-image: url(../../assets/images/icon-cross.svg);
  left: 90%;
}
.todo__params {
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  color: #fff;
  font-size: 0.9rem;
  color: #666666;
}
.todo__params--light {
  background-color: var(--inputColorLight);
}
.todo__input {
  display: flex;
  position: relative;
  background-color: var(--inputColor);
  border: 1px solid transparent;
  border-bottom: 1px solid #666666;
  justify-content: center;
  align-items: center;
}
.todo__input--light {
  background-color: var(--inputColorLight);
}
.todo__mark {
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6rem;
  height: 1.3rem;
  background-color: var(--inputColor);
  border: 1px solid #666666;
  border-radius: 50%;
  margin: auto 1.2rem;
}
.todo__mark--light {
  background-color: var(--inputColorLight);
}
.todo .toggle__mark--checked {
  background: -webkit-linear-gradient(43deg, #0dfabd, #689df3, #7ae1f5);
  background: linear-gradient(43deg, #0dfabd, #689df3, #7ae1f5);
}
.todo .toggle__mark--checked::after {
  content: "";
  background-image: url(../../assets/images/icon-check.svg);
  background-size: 0.8rem 0.8rem;
  width: 0.8rem;
  height: 0.8rem;
  background-position: center center;
}
.todo__text {
  background-color: var(--inputColor);
  width: 100%;
  padding: 1.3rem;
  padding-left: 0;
  border: 0;
  font-size: 1rem;
  font-family: JosefinSans;
  font-weight: 400;
  color: #cccccc;
  border-radius: 0.5rem;
}
.todo__text:focus {
  outline: none;
}
.todo__text--light {
  color: #000;
  background-color: var(--inputColorLight);
}
.todo .toggle__mark--cross {
  text-decoration: line-through;
  color: #666666;
}
.todo__footer_text {
  font-size: 0.9rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #666666;
  align-self: center;
}

@media (min-width: 576px) and (max-width: 768px) {
  .todo {
    width: 30rem;
  }
  .todo__text {
    padding: 1.3rem;
  }
}
@media (min-width: 468px) and (max-width: 576px) {
  .todo {
    width: 25rem;
  }
  .todo__text {
    padding: 1.3rem;
  }
}
@media (min-width: 0px) and (max-width: 468px) {
  .todo {
    width: 19rem;
  }
  .todo__header {
    margin-bottom: 1rem;
  }
  .todo__header_title {
    font-size: 2.8rem;
  }
  .todo__header_btn {
    width: 1.7rem;
    height: 1.7rem;
    background-size: 1.7rem 1.7rem;
  }
  .todo__add_text {
    font-size: 1rem;
  }
  .todo__text {
    padding: 1.05rem;
    padding-right: 2.8rem;
    padding-left: 0;
  }
  .todo__smth {
    padding: 1.05rem;
  }
}
.todos__list {
  background-color: var(--inputColor);
  list-style: none;
  display: flex;
  flex-direction: column;
  max-height: 19.25rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.todos__list::-webkit-scrollbar {
  width: 5px;
}
.todos__list::-webkit-scrollbar-track {
  background: transparent;
}
.todos__list::-webkit-scrollbar-thumb {
  background-color: rgb(127.5, 127.5, 127.5);
  border-radius: 20px;
}
.todos__list--light {
  background-color: var(--inputColorLight);
}
.todos__sort {
  margin-top: -1.3rem;
  user-select: none;
  color: #666666;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.3rem;
  padding: 0 1.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: var(--inputColor);
}
.todos__sort_params {
  cursor: pointer;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.todos__sort_params--light {
  background-color: var(--inputColorLight);
}
.todos__sort_clear {
  cursor: pointer;
}
.todos__sort_clear:hover {
  color: #5ea0ea;
}
.todos__sort_clear:focus {
  color: #5ea0ea;
}
.todos__sort--light {
  background-color: var(--inputColorLight);
}

@media (min-width: 0px) and (max-width: 468px) {
  .todos__sort {
    position: relative;
  }
  .todos__list {
    max-height: 13.45rem;
  }
}
.activeBtn {
  color: #5ea0ea;
}

.scale-out-center {
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) backwards;
}

@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
.scale-up-center {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) backwards;
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.fadeIn {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.fadeOut {
  animation: fadeOut 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}